<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <canvas id="paper" width="1900" height="1000">
    Tu navegador debe soportar canvas
  </canvas>

  <hgroup id="instructions">
    <h1>¡Hora de dibujar!</h1>
    <h2>Dibuja en cualquier lugar con tu cursor</h2>
    <h3>Si quieres borrar todo simplemente refresca la página</h3>
    <h3>Dev: <a href="http://piranimarcos.github.io">Marcos Pirani</a></h3>
  </hgroup>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="javascripts/script.js"></script>

</body>
</html>